@mixin fadeIn($delay:2s) {
  animation: fadeIn $delay ease;
}

@mixin move($delay:2s){
  animation: move $delay ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes move {
  from {
    margin-left: -300px
  }
  to {
    margin-left: 0px;
  }
}
